html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: Roboto, sans-serif;
  text-align: center;
  background-color: #008080;
}

#main {
  position: relative;
  min-width: 100%;
  top: 50px;
  text-align: center;
  color: white;
}

#portrait {
  max-width: 180px;
  border-radius: 100%;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin: 0 auto 30px;
  font-weight: 400;
  font-family: Caveat, cursive;
}

p {
  font-weight: 500;
  margin: 5px;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: #dbe263;
}
